Deborah Schmidt <mail@frauzufall.de>
ImageJ Jenkins <jenkins@imagej.net> <jenkins@dev.loci.wisc.edu>
Jan Eglinger <jan.eglinger@fmi.ch> <jan.eglinger@gmail.com>
Johannes Schindelin <johannes.schindelin@gmx.de>
Karl Duderstadt <karlduderstadt@gmail.com>
Lorenzo Scianatico <scianaticolorenzo@gmail.com>
Mark Hiner <hiner@wisc.edu> <hinerm@gmail.com>
Nicolas Chiaruttini <nicolas.chiaruttini@epfl.ch>
Philipp Hanslovsky <hanslovskyp@janelia.hhmi.org> <Philipp.Hanslovsky@gmail.com>
Stefan Helfrich <stefan.helfrich@knime.com> <stefan.helfrich@uni-konstanz.de>
Tiago Ferreira <tiago.tferr@gmail.com> <tiagoalvespedrosa@gmail.com>
