ImageJ Jenkins <jenkins@imagej.net> <jenkins@dev.loci.wisc.edu>
Jan Eglinger <jan.eglinger@fmi.ch> <jan.eglinger@gmail.com>
Johannes Schindelin <johannes.schindelin@gmx.de>
Mark Hiner <hiner@wisc.edu> <hinerm@gmail.com>
Philipp Hanslovsky <hanslovskyp@janelia.hhmi.org> <Philipp.Hanslovsky@gmail.com>
